@model BinusZoom.Models.Registration

@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation Of Event</h2>
<div>
    <h4>Registration</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NIM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NIM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NamaLengkap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NamaLengkap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.MeetingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.MeetingDate)
        </dd>
    </dl>
</div>
