@model IEnumerable<Meeting>

@{
    var isLoggedIn = Context.User.Identity.IsAuthenticated;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin-page py-5">
    <div class="container-lg ">
        <div class="shadow-lg">

            <div class="bg-white container-fluid d-flex justify-content-between align-items-center border-ltr px-3 py-3">
                <h6 class="m-0">
                    Event List
                </h6>
                @if (isLoggedIn)
                {
                    <a asp-action="Create" class="primary-filled-btn">Add Event</a>
                }
            </div>
            <div class="bg-white border-ltr py-2">
                <div class=" d-flex align-items-center container-fluid ht-32 search-bar-group">
                    <div class="bg-white d-flex align-items-center">
                        <input form="search" class="me-1" name="titleFilter" placeholder="Search Event Name"/>
                        <img width="16" height="16" src="~/images/search-data.png"/>
                    </div>
                    <form id="search" method="get" asp-action="Index">
                        <input type="submit" class="primary-filled-btn" value="Cari"/>
                    </form>
                </div>
            </div>
            <table>
                <thead>
                <tr>
                    <th>
                        No
                    </th>
                    <th>
                        Event Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MeetingDate)
                    </th>
                    <th>
                        Poster
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                </thead>
                @if (Model.Count() != 0)
                {
                    <tbody class="bg-whtie">
                    @foreach (var (item, index) in Model.Select((value, i) => (value, i)))
                    {
                        <tr>
                            <td>
                                @(index + 1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @String.Format("{0:dd MMMM yyyy, HH:mm WIB}", item.MeetingDate)
                            </td>
                            <td>
                                <img width="50" src="public_imgs/@Html.DisplayFor(modelItem => item.PosterPath)"/>
                            </td>
                            <td>

                                @if (isLoggedIn)
                                {
                                    <div class="dropdown">
                                        <p class="menu-action dropdown-toggle" id="actionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Menu
                                        </p>
                                        <div class="dropdown-menu" aria-labelledby="actionDropdown">
                                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                            <a class="dropdown-item" asp-action="Participants" asp-route-id="@item.Id">Register List</a>
                                            <a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <a asp-action="Create" asp-controller="Registration" asp-route-event_id="@item.Id" class="primary-filled-btn">Register Event</a>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                }
            </table>
            @if (Model.Count() == 0)
            {
                <div class="bg-white border-lrb">
                    <p class="m-0">Data Not Found</p>
                </div>
            }

        </div>
    </div>
</div>