@model IEnumerable<Meeting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MeetingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PosterPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PosterPath)
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosterPath)
            </td>
            <td>
                <img width="50" src="/@Html.DisplayFor(modelItem => item.PosterPath)"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Participants" asp-route-id="@item.Id">Register List</a>
            </td>
        </tr>
    }
    </tbody>
</table>