@model Meeting

@{
    ViewBag.Title = "";
    Layout = "_Layout";
}

<h2>title</h2>
<a class="btn btn-primary" asp-action="Index">Back</a>
@if (!Model.hasSendCertificateToAll)
{
    <form asp-action="AttendanceCsv" asp-route-id=@Model.Id method="post" enctype="multipart/form-data">
        <input id="attendanceCsv" name="attendanceCsv" type="file" />
        <input type="submit" class="btn btn-primary" />
    </form>
}

<a class="btn btn-warning" asp-action="SendCertificateToAll" asp-route-meeting_id="@Model.Id">Send Certificate To All</a>
    
<table class="table">
    <thead>
    <tr>
        <th>
            Nama Lengkap
        </th>
        <th>
            NIM
        </th>
        <th>
            Email
        </th>
        <th>
            Eligible for Certificate
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Registrations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaLengkap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIM)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Email)
            </td>
            <td>
                @if (item.EligibleForCertificate)
                {
                    <span class="text-primary">Yes</span>
                }
                else
                {
                    <span class="text-danger">No</span>
                }
            </td>
            <td>
                @if (item.EligibleForCertificate)
                {
                    <a asp-controller="Registration" asp-action="Certificate" asp-route-id="@item.Id" class="btn btn-primary">Send Certificate Certificate</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>